# ========= CMake编译产物 =========
**/build/
**/build-*/
CMakeFiles/
CMakeCache.txt
Makefile
cmake_install.cmake
*.o
*.a
*.so
*.out

# ========= VSCode本地配置，不提交个人IDE设置 =========
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/settings.json
.vscode/tasks.json

# ========= 压缩包、临时文件 =========
*.zip
*.tar.gz
*.tmp
*.log
.DS_Store
